In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('advertising.csv')
df.head(1)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1

In [3]:
X = df.drop(columns='Sales',axis=1)
y = df['Sales']

In [4]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=3)

In [5]:
X_train

        TV  Radio  Newspaper
156   93.9   43.5       50.5
115   75.1   35.0       52.7
155    4.1   11.6        5.7
15   195.4   47.7       52.9
61   261.3   42.7       54.7
..     ...    ...        ...
0    230.1   37.8       69.2
184  253.8   21.3       30.0
131  265.2    2.9       43.0
152  197.6   23.3       14.2
106   25.0   11.0       29.7

[160 rows x 3 columns]

In [6]:
X_test

        TV  Radio  Newspaper
40   202.5   22.3       31.6
51   100.4    9.6        3.6
139  184.9   43.9        1.7
197  177.0    9.3        6.4
170   50.0   11.6       18.4
82    75.3   20.3       32.5
183  287.6   43.0       71.8
46    89.7    9.9       35.7
70   199.1   30.6       38.7
100  222.4    4.3       49.8
179  165.6   10.0       17.6
83    68.4   44.5       35.6
25   262.9    3.5       19.5
190   39.5   41.1        5.8
159  131.7   18.4       34.6
173  168.4    7.1       12.8
95   163.3   31.6       52.9
3    151.5   41.3       58.5
41   177.0   33.4       38.7
58   210.8   49.6       37.7
14   204.1   32.9       46.0
143  104.6    5.7       34.4
12    23.8   35.1       65.9
6     57.5   32.8       23.5
182   56.2    5.7       29.7
161   85.7   35.8       49.3
128  220.3   49.0        3.2
122  224.0    2.4       15.6
101  296.4   36.3      100.9
86    76.3   27.5       16.0
64   131.1   42.8       28.9
47   239.9   41.5       18.5
158   11.7   36.9       45.2
34    95.7    1.4        7.4
38    43.1   26.7       35.1
196   94.2    4.9        8.1
4    180.8   10.8       58.4
72    26.8   33.0       19.3
67   139.3   14.5       10.2
145  140.3    1.9        9.0

In [7]:
def KnnReg(X_train, X_test, y_train, y_test, k=3):
    # Combine training and test data
    train_data = pd.concat([X_train, y_train],axis=1)
    test_data = pd.concat([X_test, y_test],axis=1)

    # Calculate Euclidean distances
    diss = []
    for k in range(test_data.shape[0]):
        dis = []
        for i in range(train_data.shape[0]):
            sum_=0
            for j in range(train_data.shape[1]-1):
                sum_ += (train_data.iloc[i,j] - test_data.iloc[k,j])**2
            dist = sum_**0.5
            dis.append(dist)
        diss.append(dis)

    # Make predictions
    predictions = []
    for i in range(len(diss)):
        dis = diss[i]
        ind = np.argsort(dis)[:k]
        y_labels = [train_data.iloc[j, -1] for j in ind]
        y_hat = np.mean(y_labels)
        predictions.append(y_hat)

    # Add predictions to X_test
    X_test['y_pred']=predictions

    return X_test

In [8]:
from sklearn.metrics import mean_absolute_percentage_error

In [9]:
X_test

        TV  Radio  Newspaper
40   202.5   22.3       31.6
51   100.4    9.6        3.6
139  184.9   43.9        1.7
197  177.0    9.3        6.4
170   50.0   11.6       18.4
82    75.3   20.3       32.5
183  287.6   43.0       71.8
46    89.7    9.9       35.7
70   199.1   30.6       38.7
100  222.4    4.3       49.8
179  165.6   10.0       17.6
83    68.4   44.5       35.6
25   262.9    3.5       19.5
190   39.5   41.1        5.8
159  131.7   18.4       34.6
173  168.4    7.1       12.8
95   163.3   31.6       52.9
3    151.5   41.3       58.5
41   177.0   33.4       38.7
58   210.8   49.6       37.7
14   204.1   32.9       46.0
143  104.6    5.7       34.4
12    23.8   35.1       65.9
6     57.5   32.8       23.5
182   56.2    5.7       29.7
161   85.7   35.8       49.3
128  220.3   49.0        3.2
122  224.0    2.4       15.6
101  296.4   36.3      100.9
86    76.3   27.5       16.0
64   131.1   42.8       28.9
47   239.9   41.5       18.5
158   11.7   36.9       45.2
34    95.7    1.4        7.4
38    43.1   26.7       35.1
196   94.2    4.9        8.1
4    180.8   10.8       58.4
72    26.8   33.0       19.3
67   139.3   14.5       10.2
145  140.3    1.9        9.0

In [10]:
KnnReg(X_train, X_test, y_train, y_test,3)

        TV  Radio  Newspaper     y_pred
40   202.5   22.3       31.6  19.038462
51   100.4    9.6        3.6  12.187179
139  184.9   43.9        1.7  18.307692
197  177.0    9.3        6.4  16.753846
170   50.0   11.6       18.4   9.051282
82    75.3   20.3       32.5  11.776923
183  287.6   43.0       71.8  20.617949
46    89.7    9.9       35.7  12.225641
70   199.1   30.6       38.7  19.033333
100  222.4    4.3       49.8  19.112821
179  165.6   10.0       17.6  15.987179
83    68.4   44.5       35.6  11.520513
25   262.9    3.5       19.5  19.879487
190   39.5   41.1        5.8   8.646154
159  131.7   18.4       34.6  14.200000
173  168.4    7.1       12.8  16.151282
95   163.3   31.6       52.9  16.810256
3    151.5   41.3       58.5  15.979487
41   177.0   33.4       38.7  18.302564
58   210.8   49.6       37.7  19.920513
14   204.1   32.9       46.0  19.453846
143  104.6    5.7       34.4  12.438462
12    23.8   35.1       65.9   8.761538
6     57.5   32.8       23.5  10.312821
182   56.2    5.7       29.7   9.823077
161   85.7   35.8       49.3  12.512821
128  220.3   49.0        3.2  19.612821
122  224.0    2.4       15.6  18.938462
101  296.4   36.3      100.9  20.558974
86    76.3   27.5       16.0  11.635897
64   131.1   42.8       28.9  14.266667
47   239.9   41.5       18.5  19.941026
158   11.7   36.9       45.2   8.230769
34    95.7    1.4        7.4  11.800000
38    43.1   26.7       35.1   9.238462
196   94.2    4.9        8.1  11.735897
4    180.8   10.8       58.4  17.810256
72    26.8   33.0       19.3   8.317949
67   139.3   14.5       10.2  14.856410
145  140.3    1.9        9.0  14.684615

In [11]:
mean_absolute_percentage_error(y_test,X_test['y_pred'])

0.11356164321925352

In [14]:
def CV(df,cv,k=3):
    import pandas as pd
    import numpy as np

    # Assuming you have already defined KnnReg function

    # Sample data frame
    shuffle = df.sample(frac=1,random_state=42).reset_index(drop=True)
    cv = cv
    train_mape_list = []
    test_mape_list = []

    for i in range(cv):
        start = i * len(shuffle) // cv
        end = (i + 1) * len(shuffle) // cv
        train = pd.concat([shuffle.iloc[:start, :-1], shuffle.iloc[end:, :-1]])
        test = df.iloc[start:end, :-1]
        train_y = pd.concat([shuffle.iloc[:start, -1], shuffle.iloc[end:, -1]])
        test_y = df.iloc[start:end, -1]

        # Calculate MAPE
        test_new = KnnReg(train, test, train_y, test_y, 3)
        absolute_percentage_errors = np.abs((test_y - test_new['y_pred']) / test_y)
        mape = np.mean(absolute_percentage_errors)
        test_mape_list.append(mape)

    # Now test_mape_list contains the MAPE for each fold.
    return test_mape_list

In [15]:
CV(df,6)

[0.1190689778476494,
 0.10948419319936363,
 0.10474722687790407,
 0.24268105139175686,
 0.15411749050436035,
 0.12033841178769995]